<!--The content below is only a placeholder and can be replaced.-->
<app-header #appHeader class="app-header" [rows$]="rows$" [color]="headerColor" (rowClick)="rowClicked($event)" (actionClick)="actionClicked($event)"></app-header>
<div class="shadow-box"></div>

<ng-template #menuFolders>
  <mat-list dense>

    <h3 mat-subheader>Folders</h3>
    <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{folder.name}}</h4>
      <p mat-line> {{folder.updated | date}} </p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <h3 mat-subheader>Notes</h3>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{note.name}}</h4>
      <p mat-line> {{note.updated | date}} </p>
    </mat-list-item>

  </mat-list>
</ng-template>

<ng-template #menuAvatars>
  <mat-list>

    <mat-list-item *ngFor="let message of messages">
      <img matListAvatar src="{{message.src}}" alt="...">
      <h3 matLine> {{message.from}} </h3>
      <p matLine>
        <span> {{message.subject}} </span>
        <span class="demo-2"> -- {{message.content}} </span>
      </p>
    </mat-list-item>
    
  </mat-list>
</ng-template>

<ng-template #content let-sidenav="sidenav">
  <button mat-button (click)="sidenav.toggle()">Toggle Menu</button>
</ng-template>

<!-- <app-side-menu-nav [menu]="menu" [content]="content"></app-side-menu-nav> -->
